#container .name {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#container .description {
    font-weight: bold;
    border-left: 1px solid #000000;
}

#container {
    background-color: rgb(255, 255, 255);
}

#container h3 {
    color: rgb(0, 130, 130);
    font-weight: 600;
    border-bottom: 1px solid #000000;
}

#container h2 {
    color: #000000;
    font-weight: 600;
    border-bottom: 1px solid #000000;
}
